absl-py==0.7.1
astor==0.8.0
certifi==2019.6.16
cffi==1.12.3
gast==0.2.2
grpcio==1.16.1
h5py==2.9.0
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown==3.1.1
mkl-fft==1.0.14
mkl-random==1.0.2
mkl-service==2.0.2
numpy==1.16.4
olefile==0.46
Pillow==6.1.0
protobuf==3.8.0
pycparser==2.19
PyYAML==5.1.2
scipy==1.3.1
six==1.12.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
Theano==1.0.3+2.g3e47d39.dirty
torch==0.4.1
torchvision==0.2.1
Werkzeug==0.15.5
wrapt==1.11.2
