{% extends 'layout.html' %}

{% block content %}

<section>
  <div class="container">
        <div class="row">
          <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
            <br><br>
            <h3>How to Use</h3><br>
            <h9 class="mb-10">1. 아래 상자에 변환하고자 하는 인물 사진을 넣어주세요</h9><br><br>
            <h9 class="mb-10">2. 잠시 후 칼라링 북처럼 변환된 사진이 출력되면, 색을 칠해주세요!</h9><br><br>
            <p class="lead mb-0">
                {{ dropzone.create(action='main') }}
                {{ dropzone.load_js() }}
                {{ dropzone.config() }}
            </p><br>
          </div>
        </div>
  </div>
</section>

<section class="bg-white">
<br><br><br> <br><br><br>
</section>

  <!-- Testimonials -->
<section class="testimonials text-center bg-light">
<div class="container">
  <h2 class="mb-5">청년 AI/BIG DATA 7기 B반 1조</h2>
  <div class="row">
    <div class="col-lg-4">
      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <img class="img-fluid rounded-circle mb-3" src="static/img/j.png" alt="" width = "200px">
        <h5>김 준</h5>
        <p class="font-weight-light mb-0">"Code Integration"</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <img class="img-fluid rounded-circle mb-3" src="static/img/dm.png" alt="" width = "200px">
        <h5>김덕민</h5>
        <p class="font-weight-light mb-0">"Web/PPT"</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <img class="img-fluid rounded-circle mb-3" src="static/img/ht.png" alt="" width = "200px">
        <h5>노희태</h5>
        <p class="font-weight-light mb-0">"Patternise"</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <img class="img-fluid rounded-circle mb-3" src="static/img/yr.png" alt="" width = "200px">
        <h5>서유라</h5>
        <p class="font-weight-light mb-0">"Modeling/PPT"</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <img class="img-fluid rounded-circle mb-3" src="static/img/sw.png" alt="" width = "200px">
        <h5>이세원</h5>
        <p class="font-weight-light mb-0">"Web/PPT"</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="testimonial-item mx-auto mb-5 mb-lg-0">
        <img class="img-fluid rounded-circle mb-3" src="static/img/yej.png" alt="" width = "200px">
        <h5>진예진</h5>
        <p class="font-weight-light mb-0">"Segmentation"</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="testimonial-item mx-auponix.gifto mb-5 mb-lg-0">
        <img class="img-fluid rounded-circle mb-3" src="static/img/mh.png" alt="" width = "200px">
        <h5>한미희</h5>
        <p class="font-weight-light mb-0">"Modeling/PPT"</p>
      </div>
    </div>
  </div>
</div>
</section>


{% endblock %}